/* start header */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .navbar-nav .nav-link,
header .navbar-brand {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}
header .navbar .nav-item::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
header .navbar .nav-item:hover:before,
header .navbar .nav-item.active::before {
  width: 100%;
}
/* end header */

#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
